<div class="row">
    <div class="six columns mx-auto">
        <form id="comment-form">
            <label for="comment"><strong>COMMENT</strong></label>
            <div class="form-group">
                <textarea class="u-max-full-width" id="comment" rows="3"></textarea>
                <div class="mt-2">
                    <button type="submit" class="button-primary">Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>