<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Online Bookshelf</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <div class="container">
    <header class="row">
      <div class="twelve columns">
        <nav class="u-pull-right">
          {{#if logged_in}}
          <a href="/" class="button">Bookshelf</a>
          <a href="/explore" class="button">Explore</a>
          <button id="logout" class="button-primary">Logout</button>
          {{else}}
          <a href="/" class="button">Bookshelf</a>
          <a href="/explore" class="button">Explore</a>
          <a href="/login" class="button">Login</a>
          {{/if}}
        </nav>
        <h1 class="text-center">Online Bookshelf</h1>
      </div>
    </header>

    <main class="row">
      <div class="twelve columns">
        {{{body}}}
      </div>
    </main>
  </div>

  {{#if logged_in}}
  <script src="/logout.js"></script>
  {{/if}}
</body>
</html>

