<div class="container">
    <h1>{{book.title}}</h1>
        <div class="book-details">
            <p><strong>Author:</strong> {{book.author}}</p>
            <p><strong>Genre:</strong> {{book.genre}}</p>
            <!-- Add more details here as needed -->
        </div>
        <!-- You can add more sections or details about the book -->
    </div>

