/* Custom CSS for book cards */
.card.book {
    background-color: #f4f4f4;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
}

.card.book h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.card.book p {
    margin-bottom: 5px;
}

.card.book img {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
}

.add-to-collection-btn {
    position: absolute;
    top: 0;
    right: 0;
    background-color: black;
    opacity: 50%;
    color: #fff;
    border: none;
    margin-top: 20px;
    margin-right: 20px;
    border-radius: 3px;
    font-size: 10px;
    cursor: pointer;
    width: 120px;
    padding: 0
};
  



    
