/* Custom CSS for book cards */
body {
    margin: 0;
    padding: 0; 
    overflow-x: hidden; /* Prevent horizontal scrolling */
  }

.container {
    width: 100vw; 
    margin: 0; 
    padding: 0; 
    
    
  }
 main {
  width: 100%;
  margin-left: 150px; /* You might adjust this value as needed */
  margin-top: 10px;
}


.comments-section, .comment-form-container {
    width: 100%;
    max-width: 600px; /* Adjust as needed */
    margin-top: 5px;
    margin-bottom: 0; /* Add space between book content and comments */
}

.comments-section {
    margin-bottom: 20px; /* Add space between comments and comment form */
}

.comments-section h3 {
    margin-bottom: 0;
}

nav {
    margin-top: 15px;
    margin-right: 75px;

}

header {
   padding-top: 30px;
   padding-bottom: 15px;
   background-color: #f4f4f4;
   width: 100vw;


}
h1 {
    margin-left: 50px;
}


.card.book {
    background-color: #f4f4f4;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
}

.card.book h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.card.book p {
    margin-bottom: 5px;
}

.card.book img {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
}

.add-to-collection-btn {
    position: absolute;
    top: 0;
    right: 0;
    background-color: black;
    opacity: 50%;
    color: #fff;
    border: none;
    margin-top: 20px;
    margin-right: 20px;
    border-radius: 3px;
    font-size: 10px;
    cursor: pointer;
    width: 120px;
    padding: 0
};

.read-count-container {
    display: flex;
    align-items: center;
}

.read-count-container input {
    width: 50px; /* Adjust the width as needed */
}




    
